/*
 *Name: Riley Larch
 *UnityID: relarch
 *Date: 2/18/2022
 *Assignment: HTML & CSS Independent Assignment
 *Description: Independent assignment for the HTML & CSS unit of E115
 */
 
p {
  color: #0000FF;
}

.class {
    table-border: 2px solid #000000;
     picborder: 2px solid #008000;
}

#photo-resize {
    max-width: 200px ; 
    max-height: 250px ;
    
}
